.app {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f8f8f8;
  color: #222;
}

.app.dark {
  background-color: #1e1e1e;
  color: white;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}